@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  
  --color-tactical-green: #0a402a;
  --color-tactical-red: #d32f2f;
  --color-tactical-dark: #111111;
}

/* Forzar que el body herede la fuente por defecto de Next.js */
body {
  font-family: var(--font-sans), sans-serif;
}